<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-ironsource-ads" version="0.0.14" xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <name>cordova-plugin-ironsource-ads</name>
    <description>Cordova plugin for IronSource Ads</description>
    <js-module src="www/ironsourceads.js" name="IronSourceAds">
        <clobbers target="IronSourceAds" />
    </js-module>

    <engines>
        <engine name="cordova" version=">=3.0" />
        <engine name="cordova-android" version=">=4.0.0" />
        <engine name="cordova-ios" version=">=4.0.0" />
    </engines>

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="IronSourceAdsPlugin">
                <param name="android-package" value="com.charlesbodman.cordova.plugin.ironsource.IronSourceAdsPlugin" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
          <uses-permission android:name="android.permission.INTERNET" />
          <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
          <!-- ADD MEDIATION PERMISSIONS HERE -->

            <!--Requested by Applovin + HyperMX + Vungle -->
            <uses-permission
                android:name="android.permission.WRITE_EXTERNAL_STORAGE"
                android:maxSdkVersion="18" />

            <!--Requested by Flurry -->
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

            <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />


        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">

            <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

            <activity
                android:name="com.ironsource.sdk.controller.ControllerActivity"
                android:configChanges="orientation|screenSize"
                android:hardwareAccelerated="true" />
            <activity
                android:name="com.ironsource.sdk.controller.InterstitialActivity"
                android:configChanges="orientation|screenSize"
                android:hardwareAccelerated="true"
                android:theme="@android:style/Theme.Translucent" />
            <activity
                android:name="com.ironsource.sdk.controller.OpenUrlActivity"
                android:configChanges="orientation|screenSize"
                android:hardwareAccelerated="true"
                android:theme="@android:style/Theme.Translucent" />

            <!-- AdColony -->
            <activity
                android:name="com.adcolony.sdk.AdColonyInterstitialActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:hardwareAccelerated="true" />

            <activity
                android:name="com.adcolony.sdk.AdColonyAdViewActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:hardwareAccelerated="true" />

            <!-- Vungle -->
            <activity
                android:name="com.vungle.publisher.VideoFullScreenAdActivity"
                android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

            <activity
                android:name="com.vungle.publisher.MraidFullScreenAdActivity"
                android:configChanges="keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize"
                android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />

            <!-- AppLovin -->
            <activity android:name="com.applovin.adview.AppLovinInterstitialActivity"  android:configChanges="orientation|screenSize"/>

            <activity android:name="com.applovin.adview.AppLovinConfirmationActivity" />

            <!-- UnityAds-->
            <activity
                android:name="com.unity3d.ads.adunit.AdUnitActivity"
                android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
                android:hardwareAccelerated="true"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
            <activity
                android:name="com.unity3d.ads.adunit.AdUnitSoftwareActivity"
                android:configChanges="fontScale|keyboard|keyboardHidden|locale|mnc|mcc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|uiMode|touchscreen"
                android:hardwareAccelerated="false"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />

            <!-- Chartboost-->
            <activity
                android:name="com.chartboost.sdk.CBImpressionActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:excludeFromRecents="true"
                android:hardwareAccelerated="true"
                android:theme="@android:style/Theme.Translucent.NoTitleBar" />

            <!-- HyprMx-->
            <activity
                android:name="com.ironsource.adapters.hyprmx.MediationHMXActivity"
                android:configChanges="orientation|screenSize|keyboardHidden|keyboard|smallestScreenSize|uiMode|fontScale|screenLayout|locale">
            </activity>

            <activity
                android:name="com.hyprmx.android.sdk.activity.HyprMXOfferViewerActivity"
                android:hardwareAccelerated="true"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:label="HyprMX SDK"
                android:launchMode="singleTop"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
            <activity
                android:name="com.hyprmx.android.sdk.activity.HyprMXRequiredInformationActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
            <activity
                android:name="com.hyprmx.android.sdk.activity.HyprMXNoOffersActivity"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
            <activity
                android:name="com.hyprmx.android.sdk.videoplayer.HyprMXVideoPlayerActivity"
                android:hardwareAccelerated="true"
                android:configChanges="keyboardHidden|orientation|screenSize"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>

            <!-- InMobi-->
            <activity
                android:name="com.inmobi.rendering.InMobiAdActivity"
                android:configChanges="keyboardHidden|orientation|keyboard|smallestScreenSize|screenSize|screenLayout"
                android:hardwareAccelerated="true"
                android:theme="@android:style/Theme.NoTitleBar" />

            <receiver
                android:name="com.inmobi.commons.core.utilities.uid.ImIdShareBroadCastReceiver"
                android:enabled="true"
                android:exported="true">
                <intent-filter>
                    <action android:name="com.inmobi.share.id" />
                </intent-filter>
            </receiver>

            <service
                android:name="com.inmobi.signals.activityrecognition.ActivityRecognitionManager"
                android:enabled="true" />

            <!-- TapJoy -->
            <activity
                android:name="com.tapjoy.TJAdUnitActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:hardwareAccelerated="true"
                android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
            <activity
                android:name="com.tapjoy.mraid.view.ActionHandler"
                android:configChanges="orientation|keyboardHidden|screenSize" />
            <activity
                android:name="com.tapjoy.mraid.view.Browser"
                android:configChanges="orientation|keyboardHidden|screenSize" />
            <activity
                android:name="com.tapjoy.TJContentActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:hardwareAccelerated="true"
                android:theme="@android:style/Theme.Translucent.NoTitleBar" />

            <!-- AdMob -->
            <activity
                android:name="com.google.android.gms.ads.AdActivity"
                android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
                android:theme="@android:style/Theme.Translucent" />

            <!-- MediaBrix -->
            <activity
                android:name="com.mediabrix.android.service.AdViewActivity"
                android:configChanges="orientation|screenSize|keyboard"
                android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen" />
            <service android:name="com.mediabrix.android.service.MediaBrixService" />


            <!-- Facebook -->
            <activity android:name="com.facebook.ads.InterstitialAdActivity"
                android:configChanges="keyboardHidden|orientation|screenSize" />

            <activity android:name="com.facebook.ads.AudienceNetworkActivity"
                android:configChanges="keyboardHidden|orientation|screenSize" />


        </config-file>

        <source-file src="src/android/IronSourceAdsPlugin.java"
            target-dir="src/com/charlesbodman/cordova/plugin/ironsource" />
        <framework src="src/android/ironsourceads.gradle" custom="true" type="gradleReference" />
        <framework src="com.google.android.gms:play-services-ads:+" />
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="IronSourceAdsPlugin">
                <param name="ios-package" value="IronSourceAdsPlugin" />
            </feature>
        </config-file>
        <header-file src="src/ios/IronSourceAdsPlugin.h" />
        <source-file src="src/ios/IronSourceAdsPlugin.m" />
        <framework src="src/ios/IronSource.framework" custom="true" />

        <!-- ADD MEDIATION FRAMEWORKS HERE -->
        <!-- Example -->
        <!-- <framework src="ISAdColonyAdapter.framework" custom="true" /> -->
        <!-- <framework src="ISAdMobAdapter.framework" custom="true" /> -->
        <!-- Example -->

        <framework src="Foundation.framework" />
        <framework src="AVFoundation.framework" />
        <framework src="CoreMedia.framework" />
        <framework src="CoreVideo.framework" />
        <framework src="QuartzCore.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="CoreGraphics.framework" />
        <framework src="CFNetwork.framework" />
        <framework src="MobileCoreServices.framework" />
        <framework src="libz.dylib" />
        <framework src="StoreKit.framework" />
        <framework src="AdSupport.framework" />
        <framework src="CoreLocation.framework" />
        <framework src="CoreTelephony.framework" />
        <framework src="Security.framework" />
    </platform>
</plugin>
