<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-ironsource-ads" version="0.0.20" xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <name>cordova-plugin-ironsource-ads</name>
    <description>Cordova plugin for IronSource Ads</description>
    <js-module src="www/ironsourceads.js" name="IronSourceAds">
        <clobbers target="IronSourceAds" />
    </js-module>

    <engines>
        <engine name="cordova" version=">=3.0" />
        <engine name="cordova-android" version=">=4.0.0" />
        <engine name="cordova-ios" version=">=4.0.0" />
    </engines>

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="IronSourceAdsPlugin">
                <param name="android-package" value="com.charlesbodman.cordova.plugin.ironsource.IronSourceAdsPlugin" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest">
          <uses-permission android:name="android.permission.INTERNET" />
          <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
          <!-- ADD MEDIATION PERMISSIONS HERE -->

            <!--Requested by Applovin + HyperMX + Vungle -->
            <!-- <uses-permission
                android:name="android.permission.WRITE_EXTERNAL_STORAGE"
                android:maxSdkVersion="18" /> -->

            <!--Requested by Flurry -->
            <!-- <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> -->

            <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />


        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest/application">

            <meta-data android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

            <activity
                android:name="com.ironsource.sdk.controller.ControllerActivity"
                android:configChanges="orientation|screenSize"
                android:hardwareAccelerated="true" />
            <activity
                android:name="com.ironsource.sdk.controller.InterstitialActivity"
                android:configChanges="orientation|screenSize"
                android:hardwareAccelerated="true"
                android:theme="@android:style/Theme.Translucent" />
            <activity
                android:name="com.ironsource.sdk.controller.OpenUrlActivity"
                android:configChanges="orientation|screenSize"
                android:hardwareAccelerated="true"
                android:theme="@android:style/Theme.Translucent" />


        </config-file>

        <source-file src="src/android/IronSourceAdsPlugin.java"
            target-dir="src/com/charlesbodman/cordova/plugin/ironsource" />
        <framework src="src/android/ironsourceads.gradle" custom="true" type="gradleReference" />
        <framework src="com.google.android.gms:play-services-ads:+" />
    </platform>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="IronSourceAdsPlugin">
                <param name="ios-package" value="IronSourceAdsPlugin" />
            </feature>
        </config-file>
        <header-file src="src/ios/IronSourceAdsPlugin.h" />
        <source-file src="src/ios/IronSourceAdsPlugin.m" />
        <framework src="src/ios/IronSource.framework" custom="true" />

        <!-- ADD MEDIATION FRAMEWORKS HERE -->
        <!-- Example -->
        <!-- <framework src="ISAdColonyAdapter.framework" custom="true" /> -->
        <!-- <framework src="ISAdMobAdapter.framework" custom="true" /> -->
        <!-- Example -->

        <framework src="CoreFoundation.framework" weak="true"/>
        <framework src="Foundation.framework" />
        <framework src="AVFoundation.framework" />
        <framework src="CoreMedia.framework" />
        <framework src="CoreVideo.framework" />
        <framework src="QuartzCore.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="CoreGraphics.framework" />
        <framework src="CFNetwork.framework" />
        <framework src="MobileCoreServices.framework" />
        <framework src="libz.dylib" />
        <framework src="StoreKit.framework" />
        <framework src="AdSupport.framework" />
        <framework src="CoreLocation.framework" />
        <framework src="CoreTelephony.framework" />
        <framework src="Security.framework" />
    </platform>
</plugin>
